<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LoanManagementSystem</display-name>
	
	
	<error-page>
	<exception-type>javax.servlet.ServletException</exception-type>
	<location>/Error.jsp</location>
	</error-page>
	
	<filter>
		<description>
		</description>
		<display-name>FrontFilter</display-name>
		<filter-name>FrontFilter</filter-name>
		<filter-class>com.rprt.lms.filters.FrontFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FrontFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping>
	
	<filter>
		<description>
		</description>
		<display-name>RegisterFilter</display-name>
		<filter-name>RegisterFilter</filter-name>
		<filter-class>com.rprt.lms.filters.RegisterFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ApplicationFilter</display-name>
		<filter-name>ApplicationFilter</filter-name>
		<filter-class>com.rprt.lms.filters.ApplicationFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ResetPassFilter</display-name>
		<filter-name>ResetPassFilter</filter-name>
		<filter-class>com.rprt.lms.filters.ResetPassFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<url-pattern>/RegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationFilter</filter-name>
		<url-pattern>/ApplicationFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResetPassFilter</filter-name>
		<url-pattern>/ResetPassFilter</url-pattern>
	</filter-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginFilter</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplicationServlet</display-name>
		<servlet-name>ApplicationServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.ApplicationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetPassServlet</display-name>
		<servlet-name>ResetPassServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.ResetPassServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AccountDetailsServlet</display-name>
		<servlet-name>AccountDetailsServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.AccountDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PaymentServlet</display-name>
		<servlet-name>PaymentServlet</servlet-name>
		<servlet-class>com.rprt.lms.controller.PaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationServlet</servlet-name>
		<url-pattern>/ApplicationFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPassServlet</servlet-name>
		<url-pattern>/ResetPassFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountDetailsServlet</servlet-name>
		<url-pattern>/AccountDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentServlet</servlet-name>
		<url-pattern>/PaymentServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
